<%layout("/listings/layouts/boilerplate")%>
    <div class="row">
        <div class="col-8 offset-2">
            <h3>Edit Your Listing</h3>
    <form method="POST" action="/listings/<%=listing._id%>?_method=PUT" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input class="form-control" name="listing[title]" value="<%=listing.title%>" type="text">
        </div>
       <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea  class="form-control" name="listing[description]"  type="text"><%=listing.description%></textarea>
    </div>
    <div class="mb-3">
        <label for="image" class="form-label">Current Image</label>
        <img src="<%=origilalImageUrl%>" alt="listing image" class="d-block mb-3" width="200" height="150">
    </div>
     <div class="mb-3">
        <label for="image" class="form-label">Upload new Image</label>
        <input class="form-control" name="listing[image]" type="file">
    </div>
    <div class="row">

    
        <div class="mb-3 col-4">
        <label for="price" class="form-label">Price</label>
        <input class="form-control" name="listing[price]" value="<%=listing.price%>" type="number">
    </div>
        <div class="mb-3 col-8">
        <label for="country" class="form-label">Country</label>
        <input class="form-control" name="listing[country]" value="<%=listing.country%>" type="text">
    </div>
        </div>
        <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input class="form-control" name="listing[location]" value="<%=listing.location%>" type="text">

    </div>
       
        <button class="btn btn-primary add-btn">Edit</button>
    </form>
    </div>
        
    </div>